
params.dataset = null
params.config = null
params.outdir = 's3://alethiotx-artemis/data/kgs/embeddings/'
params.max_time = '240.h'

process {
    accelerator = 1
    cpus = 4
    memory = 16.GB
    container = 'public.ecr.aws/alethiotx/artemis-kgs-embeddings:latest'
    errorStrategy = 'retry'
    maxRetries    = 5
    containerOptions = '--gpus all'
}

profiles {
    hetionet {
        includeConfig 'conf/hetionet.config'
    }
    biokg {
        includeConfig 'conf/biokg.config'
    }
    openbiolink {
        includeConfig 'conf/openbiolink.config'
    }
    primekg {
        includeConfig 'conf/primekg.config'
    }
}
