
params.dataset = null
params.model = 'all'
params.test_mode = false
params.skip_existing = true
params.clinical_targets = 's3://alethiotx-artemis/data/clinical_scores/2025-12-12/'
params.outdir = 's3://alethiotx-artemis/data/kgs-no-data-leakage/embeddings/'
params.max_time = '240.h'

process {
    accelerator = 1
    container = 'public.ecr.aws/alethiotx/artemis-kgs-embeddings:latest'
    errorStrategy = 'retry'
    maxRetries    = 5
    containerOptions = '--gpus all'
}
